h1 {
  border-bottom: 1px solid violet;
  font-family: verdana;
}
h2 {
  font-family: arial;
}
.word1 {
 color: #580f3a;
}
.word2 {
 color: #1f0f58;
}
.word3 {
 color: #5d390e;
}
.picture {
  float: left; /*выравнивание по левому краю*/
  padding: 4px; /*поля вокруг картинки*/
  margin: 0 6px 4px 0; /*отступы*/
}

p {
  font-family: arial;
  line-height: 1.6em; /*отступы*/
}
ul {
  font-family: impact;
  line-height: 1.4em;
}
h2.differences {
  border-bottom: 1px solid white;
  color: white;
}
.similarities {
border-color: #e0a56c; /*цвет границы*/
border-width: 1px; /*ширана границы*/
border-style: solid; /*сплошная граница*/
background-color: #e0a56c;
padding: 15px; /*ширана отступа с каждой границы*/
margin: 20px; /*ширина поля со всех сторон*/
border-radius: 15px; /*округление углов*/
}

.differences2 {
border-color: #0fc9ba; /*цвет границы*/
border-width: 1px; /*ширана границы*/
border-style: solid; /*сплошная граница*/
background-color: #0fc9ba;
padding: 15px; /*ширана отступа с каждой границы*/
margin: 20px; /*ширина поля со всех сторон*/
border-radius: 15px; /*округление углов*/
}
a:link {
    color: #2b16ca; /* Цвет ссылок */
   }
a:visited {
    color: #136e40; /* Цвет посещенных ссылок */
   }
#footer {
  color: blue;
}
.wrapper {
  display: flex;
}
