@media screen and (max-width: 700px) {
.general {
  width: 700px;
}
.iphone-image {
  display: none;
}
.top_block {
  background-image: url(../images/man2.jpg);
  height: 600px;
  width: 700px;
}
.block-second { /*Блок с текстом после изображеня телефона*/
  max-width: 500px;
  min-height: 300px;
  margin-bottom: 20px;
}
.start-something-new-left-block {
  width: 450px;
  float: none;
}
.start-something-new-right-block {
  width: 450px;
  float: none;
  padding-top: 10px;
}
.color-block {
  width: 540px;
  margin-top: 20px;
  height: 300px;
  margin: auto;
}
.color-block-right {
  width: 540px;
  height: 300px;
  float: none;
}
.color-block-left {
  width: 540px;
  height: 300px;
  float: none;
}
.details {
  margin-top: 280px;
  margin-left: 120px;
  margin-bottom: 25px;
}
.adaptiwe-margin {
  margin-left: 0px;
}
.green-block-first { /*Первый блок слева в большом зеленом блоке*/
  margin-left: 80px;
  padding-top: 15px;
  float: none;
  max-width: 500px;
  margin-right: 30px;
}
.green-block-next {  /*Следующий блок в большом зеленом блоке*/
  padding-top: 15px;
  float: none;
  max-width: 500px;
  margin-left: 80px;
}
.padding-adaptive-green {
  padding-bottom: 45px;
}
.block-buy-first { /*Первый блок с наведением*/
  margin-left: 120px;
  margin-top: 30px;
  padding: 20px;
  max-width: 350px;
  min-height: 200px;
  float: left;
}
.block-buy-second { /*Второй блок с наведением*/
  margin-left: 120px;
  margin-top: 80px;
  margin-bottom: 40px;
  padding: 20px;
  max-width: 350px;
  min-height: 200px;
  float: left;
}
.block-footer-left {
  margin-left: 50px;
  margin-top: 60px;
  max-width: 350px;
  min-height: 300px;
  float: left;
}
.block-footer-right {
  margin-left: 30px;
  margin-top: 60px;
  max-width: 350px;
  min-height: 300px;
  float: left;
}
}
