@media screen and (min-width: 768px) and (max-width: 1024px) {
  .general {
    max-width: 1024px;
  }
  .top_block {
    background-image: url(../images/man2.jpg);
    height: 600px;
    width: 1024px;
  }
  .block-second { /*Блок с текстом после изображеня телефона*/
    margin-left: 80px;
    width: 950px;
    min-height: 300px;
  }
  .color-block {
    width: 1024px;
    margin-top: 20px;
    height: 300px;
    margin: auto;
  }
  .color-block-right {
    width: 512px;
    height: 300px;
    float: left;
  }
  .color-block-left {
    width: 512px;
    height: 300px;
    float: right;
  }
  .purple-block {
    width: 256px;
    height: 150px;
    background-color: #bd8cbf;
    float: right;
  }
  .sun-photo {
    width: 256px;
    height: 150px;
    background-image: url(../images/sun.jpg);
    float: right;
  }
  .girl {
    width: 256px;
    height: 150px;
    background-image: url(../images/girl.jpg);
    float: right;
  }
  .green-block {
    width: 256px;
    height: 150px;
    background-color: #82ca9c;
    float: right;
  }
  .blue-block {
    width: 256px;
    height: 150px;
    background-color: #615f7d;
    float: right;
  }
  .pink-block {
    width: 256px;
    height: 150px;
    background-color: #f5989d;
    float: right;
  }
  .white {
    width: 512px;
    height: 150px;
    background-image: url(../images/white2.jpg);
    float: right;
  }
  .block-details-left-text {
    max-width: 140px;
    font-size: 10px;
    color: #959595;
    padding-top: 15px;
    line-height: 1.5em;
  }
  .block-details-next-text {
    max-width: 140px;
    font-size: 10px;
    color: #959595;
    padding-top: 15px;
    line-height: 1.5em;
  }
  .car-block {
    background-image: url(../images/car.jpg);
    height: 550px;
    width: 1024px;
  }
  .green-block-after-car {
  width: 1024px;
  min-height: 350px;
  background-color: #82ca9c; /*Зеленый цвет блока*/
  }
  .green-block-first { /*Первый блок слева в большом зеленом блоке*/
    margin-left: 30px;
    padding-top: 25px;
    float: left;
    max-width: 300px;
    margin-right: 30px;
  }
  .block-buy { /*Блок с наведением*/
    width: 1024px;
    background-color: #f6f7fa;
    }
    .block-buy-first { /*Первый блок с наведением*/
      margin-left: 80px;
      margin-top: 50px;
      padding: 20px;
      max-width: 350px;
      min-height: 200px;
      float: left;
    }
    .block-buy-second { /*Второй блок с наведением*/
      margin-left: 40px;
      margin-top: 50px;
      padding: 20px;
      max-width: 350px;
      min-height: 200px;
      float: left;
    }
    footer {
      width: 1024px;
      height: 350px;
      background-color: #192431;
      }
      .block-footer-left {
        margin-left: 130px;
        margin-top: 40px;
        max-width: 350px;
        min-height: 300px;
        float: left;
      }
}
