@import url('https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet');
.general {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  font-family: Open Sans;
}
.top_block {
  background-image: url(../images/man2.jpg);
  max-height: 600px;
  max-width: 1200px;
}
.logo {
  padding-left: 170px;
  padding-top: 40px;
}
.circle {
  width: 30px;
  height: 30px;
  border-radius: 19px;
  border: 4px solid white;
  position: relative;
  float: left;
}
.circle-inside {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  border: 4px solid white;
  position: absolute;
  top: 6px;
  left: 6.5px;
}
  .take {
    color: white;
    padding-top: 10px;
    padding-left: 45px;
    font-style: italic;
    font-weight: bold;
  }
.picture-perfect {
  margin-left: 150px;
  margin-top: 170px;
  width: 330px;
}
/***Заголовки***/
h1 {
  font-size: 30px;
  color: white;
}
.start-title {  /*Заголовок для второго блока*/
  font-size: 25px;
  font-weight: bold;
  padding-top: 40px;
  color: #313434; /*Темно-серый цвет*/
}
.title-white {
  padding-top: 20px; /*Заголовок для цветного блока*/
  padding-left: 20px;
  color: white;
}
.details-title { /*Большой заголовок для четырех блоков*/
  font-size: 25px;
  font-weight: bold;
  padding-top: 30px;
  color: #313434; /*Темно-серый цвет*/
}
h4 {
  font-size: 10px; /*Заголовки для четырех блоков, идущих в ряд, после цветного блока*/
  color: #313434;
  font-weight: bold;
  padding-top: 25px;
}
.car-image-title { /*Заголовок для блока с машиной*/
  font-size: 30px;
  color: white;
}
.title-green-block-after-car { /*Заголовок для большого зеленого блока*/
  font-size: 25px;
  font-weight: normal;
  padding-top: 60px;
  margin-left: 120px;
  color: white;
}
.green-block-title {  /*Подзаголовок для большого зеленого блока*/
  font-size: 10px;
  color: white;
  font-weight: bold;
  padding-top: 25px;
}
.title-buy {
  padding-top: 20px; /*Заголовок для buy блока*/
  color: #313434;
  font-weight: bold;
}
.footer-title { /*Первый заголовок для footer*/
  font-size: 8px;
  color: white;
  padding-bottom: 15px;
}
.block-foter-title { /*Заголовок маленького блока для footer*/
  font-size: 8px;
  color: white;
}
/*****************/

.picture-perfect-text {
  font-size: 10px;
  color: white;
  padding-top: 15px;
  line-height: 1.5em;
}
.iphone-image { /*Выровнять телефон*/
  width: 350px;
  margin-left: 400px;
  margin-top: -150px;
}
.block-second { /*Блок с текстом после изображеня телефона*/
  margin-left: 120px;
  width: 950px;
  min-height: 300px;
}
.clearfix:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
.start-something-new-left-block {
  width: 450px;
  float: left;
}
.start-something-text {
  font-size: 10px;
  color: #959595;
  padding-top: 15px;
  line-height: 1.5em;
}
.start-something-new-right-block {
  width: 450px;
  float: right;
  padding-top: 130px;
}
.color-block {
  width: 1080px;
  margin-top: 20px;
  height: 300px;
  margin: auto;
}
.color-block-right {
  width: 540px;
  height: 300px;
  float: right;
}
.purple-block {
  width: 270px;
  height: 150px;
  background-color: #bd8cbf;
  float: right;
}
.color-block-text {
  font-size: 10px;
  color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 15px;
  line-height: 1.5em;
}
.color-block-text-second {
  font-size: 10px;
  color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 30px;
  line-height: 1.5em;
}
a {
  color: white;
  font-size: 13px;
  padding-left: 20px;
  text-decoration: none;
}
.sun-photo {
  width: 270px;
  height: 150px;
  background-image: url(../images/sun.jpg);
  float: right;
}
.girl {
  width: 270px;
  height: 150px;
  background-image: url(../images/girl.jpg);
  float: right;
}
.green-block {
  width: 270px;
  height: 150px;
  background-color: #82ca9c;
  float: right;
}
.color-block-left {
  width: 540px;
  height: 300px;
  float: right;
}
.blue-block {
  width: 270px;
  height: 150px;
  background-color: #615f7d;
  float: right;
}
.pink-block {
  width: 270px;
  height: 150px;
  background-color: #f5989d;
  float: right;
}
.white {
  width: 540px;
  height: 150px;
  background-image: url(../images/white2.jpg);
  float: right;
}
.details {
  margin-top: 15px;
  margin-left: 100px;
  margin-bottom: 25px;
  min-height: 270px;
}
.details-block-left {
  float: left;
}
.details-block-next {
  float: left;
  margin-left: 30px;
}
.block-details-left-text {
  max-width: 230px;
  font-size: 10px;
  color: #959595;
  padding-top: 15px;
  line-height: 1.5em;
}
.block-details-next-text {
  max-width: 230px;
  font-size: 10px;
  color: #959595;
  padding-top: 15px;
  line-height: 1.5em;
}
.car-block {
  background-image: url(../images/car.jpg);
  height: 550px;
  max-width: 1200px;
}
.more-power {
  padding-left: 150px;
  padding-top: 230px;
  max-width: 330px;
}
.more-pover-text {
  font-size: 10px;
  color: white;
  padding-top: 15px;
  line-height: 1.5em;
  padding-bottom: 25px;
}
.car-block-href {  /*изменить положение относительной ссылки в блоке с машиной*/
  padding-left: 0;
}
.green-block-after-car {
max-width: 1200px;
min-height: 350px;
background-color: #82ca9c; /*Зеленый цвет блока*/
}
.green-block-first { /*Первый блок слева в большом зеленом блоке*/
  margin-left: 120px;
  padding-top: 25px;
  float: left;
  max-width: 300px;
  margin-right: 30px;
}
.green-block-text {
  font-size: 10px;
  color: white;
  padding-top: 25px;
  line-height: 1.7em;
}
.green-block-next {  /*Следующий блок в большом зеленом блоке*/
  padding-top: 25px;
  float: left;
  max-width: 300px;
  margin-right: 30px;
}
.block-buy { /*Блок с наведением*/
  max-width: 1200px;
  min-height: 350px;
  background-color: #f6f7fa;
  }
.block-buy-first { /*Первый блок с наведением*/
  margin-left: 180px;
  margin-top: 80px;
  padding: 20px;
  max-width: 350px;
  min-height: 200px;
  float: left;
}
.legasy {
  font-size: 10px;
  font-weight: bold;
  width: 38px;
  color: white;
  border: 1px solid #e1e1e1;
  padding: 5px;
  background-color: #e1e1e1;
  border-radius: 5px;
}
.buy-text {
  font-size: 10px;
  color: #959595;
  line-height: 1.7em;
  padding-top: 20px;
}
.button-buy {
  font-size: 10px;
  font-weight: bold;
  color: white;
  background-color: #82ca9c; /*Зеленый цвет кнопки*/
  border: 1px solid #82ca9c;
  padding: 7px;
  margin-top: 15px;
}
.iphone-windows {   /*Для картикок iphome и windows*/
 padding-top: 15px;
}
.images {
  display: inline-block; /*Выровнять в ряд iphome и windows*/
  padding-right: 5px;
}
.block-buy-first:hover {
  background-color: white;
}
.block-buy-second { /*Второй блок с наведением*/
  margin-left: 40px;
  margin-top: 80px;
  padding: 20px;
  max-width: 350px;
  min-height: 200px;
  float: left;
}
.block-buy-second:hover {
  background-color: white;
}
.most-popular {
  font-size: 10px;
  font-weight: bold;
  width: 78px;
  color: white;
  border: 1px solid #bd8cbf;
  padding: 5px;
  background-color: #bd8cbf;
  border-radius: 5px;
}
footer {
  max-width: 1200px;
  min-height: 350px;
  background-color: #192431;
  }
.block-footer-left {
  margin-left: 230px;
  margin-top: 60px;
  max-width: 350px;
  min-height: 300px;
  float: left;
}
.get-in-text {
  font-size: 8px;
  color: white;
  line-height: 2em;
}
.small-block-footer {
  width: 100px;
  float: left;
}
.resourses {  /*Редактировать список для footer*/
  font-size: 8px;
  color: white;
  padding-top: 20px;
  line-height: 2em;
}
.block-footer-right {
  margin-left: 60px;
  margin-top: 60px;
  max-width: 350px;
  min-height: 300px;
  float: left;
}
.input-footer {
  max-width: 350px;
  position: relative;
}
input {
  height: 25px;
  width: 210px;
}
.button-footer {
  width: 30px;
  height: 31px;
  position: absolute;
  border: none;
  background-color: #82ca9c;
  color: white;
}
.no-spam {
  padding-top: 25px;
  color: #57697f;
  font-size: 8px;
  line-height: 2em;
}
