@media screen and (min-width: 768px) and (max-width: 1024px) {
  .general {
    max-width: 1024px;
  }
  .header {
    width: 85%;
    min-height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .input__enter {
    border-radius: 2px;
    border: none;
    min-height: 28px;
    max-width: 135px;
  }
  .input__enter {
    border-radius: 2px;
    border: 1px solid #709dca;
    min-height: 28px;
  }
  .box-clinets {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 180px;
    border: 5px solid #ffbb42;
  }
  .block-price {
    width: 100%;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    font-family: Lato;
  }
  .box-works__image-top {
    width: 10%;
    height: 25px;
  }
  .box-works__image-bottom {
    width: 10%;
    height: 25px;
    align-self: center;
    margin-top: -30px;
  }
  .block-map {
    width: 100%;
    min-height: 300px;
    background: url(../images/map.png) no-repeat;
    background-size: contain;
    margin: auto;
    text-align: center;
  }
