@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Lato');

.general {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  width: 70%;
  min-height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  height: 40px;
  width: 40px;
}
.nav__link {
  font-family: Lato;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  padding: 2px 10px;
}
.nav__link_grey {
  color: #868686;
}
.nav__link_hover_orange:hover {
  color: white;
  background-color: #ffbb42; /*Оранжевый*/
  border: 1px solid #ffbb42;
  border-radius: 3px;
  transition: 0.3s;
}
.banner {
  width: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner_bacground-color-blue {
  background-color: #709dca; /*Синий*/
}
/******Заголовок повторяется в макете с одинаковыми отступами сверху*****/
.heading {
  text-align: center;
  line-height: 1.2em;
  padding-top: 40px;
}
.heading__h2 {
  font-family: Archivo Black;
  font-size: 20px;
  text-transform: uppercase;
}
.heading__p {
  font-size: 11px;
  font-family: Open Sans;
  font-weight: bold;
}
/***********Конец заголовка***********/
/*Цвета заголовков*/
.heading__h2_white, .heading__p_white { /*Белый цвет заголовка, повторяется в макете*/
  color: white;
}
.heading__h2_grey, .heading__p_grey { /*Темно-серый цвет заголовка, повторяется в макете*/
  color: #394b50
}
/*************/
.input_position {
  margin-top: 20px;
}
/*********Поле для ввода данных, повторется в макете**********/
.input__enter {
  border-radius: 2px;
  border: none;
  min-height: 28px;
}
.input__enter::-webkit-input-placeholder {
  font-size: 10px;
  color: #a9a9a9;
}
/*************/
/********Картинки для ввода данных, повторяются в макете********/
  .input-icon__background-name {
  background: url(../images/banner1.png) no-repeat center left;
  min-height: 28px;
  background-position: 7px;
  background-color: white;
  padding-left: 30px;
}
.input-icon__background-email {
background: url(../images/banner2.png) no-repeat center left;
min-height: 28px;
background-position: 7px;
background-color: white;
padding-left: 30px;
}
.input-icon__background-phone {
background: url(../images/banner3.png) no-repeat center left;
min-height: 28px;
background-position: 7px;
background-color: white;
padding-left: 30px;
}
/*************/
/*****Кнопка input, повторяется в макете*******/
.input__button {
  text-transform: uppercase;
  border-radius: 2px;
  border: none;
  min-height: 30px;
  width: 200px;
}
.input__button:hover {
  cursor: pointer;
}
.input__button_orange {
  background-color: #ffbb42;
  color: white;
}
/*************/
.banner-image {
margin-top: -210px;
text-align: center;
}
.banner-image__laptop {
  max-width: 470px;
}
.services {
  width: 80%;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  margin: 0 auto;
}
.services_position {
  margin-top: 40px;
}
.services-block {
  width: 40%;
}
.services-block_bacground-image-icons {
  background-image: url(../images/services1.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: top left;
}
.services-block_bacground-image-design {
  background-image: url(../images/services2.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: top left;
}
.services-block_bacground-image-working {
  background-image: url(../images/services3.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: top left;
}
.services-block_bacground-image-ready {
  background-image: url(../images/services4.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: top left;
}
.services-block_bacground-image-code {
  background-image: url(../images/services5.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: top left;
}
.services-block_bacground-image-trendy {
  background-image: url(../images/services6.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: top left;
}
.services-block__h2_grey {
  font-family: Lato;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #394b50;
  text-transform: uppercase;
  padding-left: 60px;
}
.services-block__p_grey {
  font-size: 8px;
  font-family: Open Sans;
  color: #7b7b7b;
  line-height: 1.7em;
  font-weight: bold;
  padding-left: 60px;
}
.block-about {
  width: 100%;
  min-height: 350px;
  display: flex;
}
.box-about {
  width: 50%;
  min-height: 350px;
}
.box-adout_background-image {
  background: url(../images/about.png) no-repeat;
  background-size: cover;
}
.box-about_background-orange {
  background-color: #ffbb42;
}
.box-about__heading_position {
  padding-top: 40px;
  margin-left: 90px;
}
.box-about_text {
  font-size: 10px;
  font-family: Open Sans;
  color: white;
  line-height: 1.7em;
  width: 70%;
  margin: 0 auto;
  padding-top: 30px;
}
.box-about__button_position {
  margin-left: 90px;
  margin-top: 30px;
}
/******Кнопка повторяется в макете*******/
.box-button {
  text-transform: uppercase;
  border-radius: 2px;
  border: 1px solid #e7ad48;
  min-height: 30px;
  min-width: 130px;
  font-size: 13px;
  font-family: Open Sans;
  color: white;
}

.box-button:hover {
  cursor: pointer;
  background-color: grey;
  outline: none;
  border: none;
}
.box-button_orange {
  background-color: #ffbb42;
}
.input__button_hover-grey:hover {
  background-color: grey;
  outline: none;
  border: none;
}
.box-button_center {
  display: flex;
  justify-content: center;
}
.box-button_space {
  margin-top: 40px;
  margin-bottom: 60px;
}
/************/
.pricing-block {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}
.pricing-block_backround-color-blue {
  background-color: #e7edf3;
}
.block-price {
  width: 81%;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  font-family: Lato;
}
.box-price {
  width: 27%;
  min-height: 330px;
  text-align: center;
  border: 1px solid #ccd5df;
}
.box-price_white {
  background-color: white;
}
.box-price__h2 {
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 10px;
}
.box-price__h2_grey {
  color: #818b95;
}
.box-price__ul_orange {
  color: #ffbb42; /*Оранжевый*/
  font-weight: bold;
}
.box-price__ul {
  display: flex;
  justify-content: center;
}
.box-price-cost__li {
  font-size: 30px;
}
.box-price__caption {
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 8px;
  padding-bottom: 23px;
}
.box-price__caption_grey {
  color: #818b95;
}
.box-price__line {
    max-width: 80%;
    border: 0.5px solid #e2e9f0;
}
.box-price__text {
  text-transform: uppercase;
  font-size: 12px;
  padding: 8px;
}
.box-price__text_grey {
  color: #818b95;
}
.box-price__text_position {
  padding-bottom: 20px;
}
.box-price-hoover_blue:hover {
  background-color: #709dca;
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}
.block-works {
  width: 91%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.block-works_position {
  margin-top: 50px;
}
.box-works {
  min-height: 200px;
  text-align: center;
}
.box-works__image {
  padding-bottom: 30px;
  width: 57px;
  height: 53px;
}
.box-works__image-top {
  width: 10%;
  height: 35px;
}
.box-works__image-bottom {
  width: 10%;
  height: 35px;
  align-self: center;
  margin-top: -30px;
}
.box-works__title {
  font-family: Lato;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
}
.box-works__title_grey {
  color: #394b50;
}
.box-works__text {
  font-family: Open Sans;
  font-size: 11px;
  line-height: 1.2em;
}
.block-clinets {
  width: 100%;
  min-height: 580px;
}
.block-clinets_orange {
  background-color: #ffbb42; /*Оранжевый*/
}
.box-clients-wrapper{
  display: flex;
  flex-wrap: wrap;
  max-width: 85%;
  justify-content: space-around;
  align-content: space-around;
  margin: auto;
  margin-top: 30px;
  min-height: 400px;
}
.box-clinets {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 47%;
  min-height: 180px;
}
.box-clients_white {
  background-color: white;
}
.box-clietnt__image {
  width: 90px;
  height: 90px;
  border-radius: 45px;
}
.box-clietnt__image_position {
  margin-top: -30px;
}
.box-clinets__text {
  width: 65%;
  font-family: Open Sans;
  font-size: 13px;
  line-height: 1.5em;
}
.box-clinets__text_grey {
  color: #7b7b7b;
}
.box-client__subtext {
  text-transform: uppercase;
}
.box-client__subtext_red {
  color: red;
  font-family: Lato;
}
.box-client__subtext_grey {
  color: #b8c2c6;
  font-family: Lato;
}
.input-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.input__enter_border-grey {
  border: 1px solid #b8c2c6;
}
.input__enter-email_width {
  width: 250px;
}
.block-map {
  width: 80%;
  min-height: 460px;
  background: url(../images/map.png) no-repeat;
  background-size: contain;
  margin: auto;
  text-align: center;
}
.block-map__circle-background {
  width: 50%;
  min-height: 250px;
  background: url(../images/circle.png) no-repeat center;
  background-size: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.block-circle__text {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.6em;
}
.block-circle__text_position {
  margin-top: -30px;
}
.block-circle__text-adress {
  line-height: 2em;
  text-transform: uppercase;
  font-weight: bold;
}
.block-circle__text-adress_white {
  color: white;
}
.block-circle__text_grey {
  color: #aeb7ba;
}
.block-circle__text_orange {
  color: #ffbb41;
}
.block-map__logo {
  width: 50px;
}
.line_grey {
  max-width: 80%;
  border: 0.5px solid #e2e9f0;
  margin: 30px auto;
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__nav_position {
  margin-bottom: 20px;
}
.nav__link_dark-grey {
  color: #394b50;
}
.footer__text {
  display: flex;
  font-family: Lato;
  font-size: 12px
}
.footer__text_dark-grey {
  color: #394b50;
}
.footer__link {
  padding: 10px 0 15px 0px;
}
.footer__link-twitter, .footer__link-fb,
.footer__link-google, .footer__link-in {
  margin-left: 7px;
}
.copyright {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright_blue {
  background-color: #709dca;
}
.copyright__text {
  font-family: Open Sans;
  font-size: 10px;
}
.copyright__text_white {
  color: white;
}
.box-price:hover .box-price__h2 {
  color: white;
}
.box-price:hover .box-price__ul {
  color: white;
}
.box-price:hover .box-price__caption {
  color: white;
}
.box-price:hover .box-price__text {
  color: white;
}
